{
  "extends": "../../../.babelrc",
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "jsx",
        "pragmaFrag": "jsxFrag"
      }
    ],
    [
      "babel-plugin-jsx-pragmatic",
      {
        "module": "local-lib-grafana-jsx",
        "import": "jsx",
        "export": "createObject"
      },
      "jsx"
    ],
    [
      "babel-plugin-jsx-pragmatic",
      {
        "module": "local-lib-grafana-jsx",
        "import": "jsxFrag",
        "export": "Fragment"
      },
      "jsxFrag"
    ],
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "local-lib-grafana-jsx": "../../lib/index.es5.js"
        }
      }
    ]
  ]
}
